/* aタグ用リセットスタイル */
a {
  color: #000;
  text-decoration: none;
}

/* 下線が左から流れるアニメーション */
.text {
  padding-bottom: 3px; /* テキストと下線の間隔 */
  font-size: 60px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}

.text:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 1px; /* 下線の横幅を100%にする */
}
